span {
  display: inline-block;
  background-color: #ddd;
}

span {
  /*padding: 20px 50px;*/
  /*padding: 20px 100px 20px 10px;*/
  border: 4px solid #000;
  padding-top: 20px;
  padding-right: 100px;
  padding-bottom: 20px;
  padding-left: 10px;
  margin: 50px;
}

span {
  border-width: 20px 40px 30px 60px;
}
